:root {
  --light-black: #333333;
  --medium-gray: #777777;
  --silver: #bbbbbb;
  --almost-white: #eeeeee;
}

p,h1,h2,h3,h4,h5,h6 {
  color: var(--almost-white);
}


html,
body,
header {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
    background: var(--light-black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
